<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Welcome, {{ user.username }}!</span></div>
            <div class="options">
                <a href="{% url 'real_time_report' %}" class="btn">Today's Doses</a>
                <a href="{% url 'weekly_report' %}" class="btn">Weekly Report</a>
                <a href="{% url 'monthly_report' %}" class="btn">Monthly Report</a>
            </div>
        </div>
    </div>
</body>
</html>
